/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --darkcolor: #141922;
    --darkgrey:#282828;
    --black:#000000;
    --white: #ffffff;
    --grey:#717171;
    --lightgrey:#c1c1c1;
    --highlight:#adff2f;
}

html{
    scroll-behavior: smooth;
}

.debug{
    border: 1px solid white;
}

ul{
    list-style: none;
}

a{
    color: var(--white);
    text-decoration: none;
}

.btn{
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 20px;
}

.scale{
    transform: scale(0.8);
    transition: transform 0.5s;
}

.scale:hover{
    transform: scale(1);
}


/*text*/
.uppercase{
    text-transform: uppercase;
}

.small-text{
    font-size: 0.8rem;
}

.text-center{
    text-align: center;
}

.grey-text{
    color: var(--grey);
}



/*flex*/
.d-flex{
    display: flex;
}

.flexwrap{
    flex-wrap: wrap;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
    align-content: center;
}



/*content*/
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    overflow: hidden;
    color: var(--white);
}

main{
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--highlight);
    overflow: hidden;
}



/*NAV: MAIN-NAV*/
.main-nav{
    width: 230px;
    min-height: 480px;
    background-color: var(--black);
    overflow: hidden;
}

.top-nav{
    width: 100%;
    height: calc(100% - 80px);
}

.main-nav .playlist h3,
.main-nav ul li a,
.main-nav .playlist p{
    font-size: 0.8rem;
}

.main-nav .playlist i{
    font-size: 35px;
}

.logo{
    width: 200px;
    padding: 15px;
    margin: 0 auto;
}

.logo-small{
    padding: 5px;
    display: none;
}

.logo img, .logo-small img{
    width: 70%;
}

.aside-nav #first-ul li{
    padding: 8px 8px 8px 0;
}

.aside-nav #first-ul img{
    width: 20px;
}

.aside-nav a{
    border-left: 5px solid transparent;
    padding-left: 15px;
}

.aside-nav a:hover,
.aside-nav a.active{
    border-left: 5px solid var(--highlight);
}

.aside-nav a:hover img{
    opacity: 1;
}

.aside-nav li{
    padding: 3px;
}

.bottom-nav{
    width: 100%;
    height: 80px;
}

/*SECTION: MAIN-CONTENT*/
.main-content{
    width: calc(100% - 230px);
    background-color: var(--darkcolor);
    height: 100%;
    overflow-y: auto;
}

#call-to-action{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.main-section{
    margin-top: 80px;
}

.main-section nav ul li a{
    display: block;
    padding: 5px 15px;
}

.main-section nav ul li:after{
    content: "";
    display: block;
    width: 50%;
    height: 2%;
    margin: 0 auto;
    border-bottom: 2px solid transparent;
}

.main-section nav ul li:hover:after, 
.main-section nav ul li:active:hover{
    border-bottom: 2px solid var(--highlight);
}

.main-section ul li a{
    padding: 15px;
}

.main-section ul{
    text-decoration: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px 0;
}

.container h2{
    padding: 15px 0;
}

.cover-text h4,
.cover-text p {
    text-align: center;
    padding-top: 10px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.col{
    padding: 15px;
    width: calc(100% / 6);
}

.col img{
    width: 100%;
    display: block;
}


#second-section p{
    color: var(--grey);
}

#third-section .image-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#third-section .col{
    margin-left: 5px;
    margin-right: 5px;
}

.image-circle{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.cover-image{
    position: relative;
    cursor: pointer;
}

.cover .cover-image::after{
    font-family: 'Font Awesome 6 Free';
    font-size: 3rem;
    content: "\f144";
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.cover-image:hover::after{
    opacity: 1;
}


/*PLAYBAR*/
#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--darkgrey);
}

.playbar-album,
.playbar-vol{
    width: 230px;
    height: 100%;
}

.playbar-control{
    width: 40%;
    height: 100%;
}





/*RESPONSIVE*/
@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 992px){
    .col{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    .col{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px){
   .main-nav{
        width: 60px;
   }

   .main-content{
        width: calc(100% - 60px);
   }

   .logo,
   .aside-nav a span,
   .playlist{
        display: none;
   }

   .logo-small{
        display: block;
   }
}

@media screen and (max-width: 400px){
    .col{
        width: 100%;
    }
}